<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout1</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <section class="centering-container">
    <div class="center-item start"">
    <nav>
      <h2>Nav</h2>
      <ul>
        <li class=" nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Clients</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contacts Us</a></li>
      </ul>
      </nav>
    </div>

    <div class="center-item stretch">
      <h2>Main Content</h2><br>
      <h3>I am first in the source order</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium iure dolore, exercitationem totam
        provident quo facilis sint magni quidem, qui expedita. Consequatur quasi in doloribus quae. Blanditiis harum
        distinctio amet.</p>

    </div>

    <div class="center-item end">
      <h2>Sidebar</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab tempore minus officiis voluptate voluptatibus
        cupiditate distinctio autem quaerat, incidunt explicabo sed inventore fugit, aperiam sit ex exercitationem!
        Magni, quidem dolores.</p>
    </div>

  </section>

  <footer>
    <h3>Copyright&#169; 2017</h3>
  </footer>


</body>

</html>